button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  background: #9eeffd;
  color: #3f3e3e;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background 100ms ease-in-out, 
              color 50ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #7fecff;
  color: #3f3e3e;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.99);
}

.remove {
  color: red
}

/* 
.hello, .name {
  position: absolute;
} */
.hello-enter {
  position: absolute;
  opacity: 0;
}
.hello-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 400ms linear;
}
.hello-exit {
  position: absolute;
  opacity: 1;
}
.hello-exit-active {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
}


.name-enter {
  position: absolute;
  opacity: 0;
}
.name-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 400ms linear;
}
.name-exit {
  position: absolute;
  opacity: 1;
}
.name-exit-active {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
}
