button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  background: #22deff;
  color: #1f1f1f;
  border-radius: 5px;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  transition: background 100ms ease-in-out, 
              color 50ms ease-in-out, 
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #7fecff;
  color: #3f3e3e;
}

button:focus {
  outline: #1c8da1 auto 2px;
}

button:active {
  transform: scale(0.99);
}

a {
  outline: none;
}









/* ====================================================== */
/* ====================================================== */

/*                      TRANSITIONS                       */

/* ====================================================== */
/* ====================================================== */

.hello-enter {
  position: absolute;
  opacity: 0;
}
.hello-enter-active {
  position: absolute;
  opacity: 1;
  transition: opacity 400ms linear;
}
.hello-exit {
  position: absolute;
  opacity: 1;
}
.hello-exit-active {
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
}


.name-enter {
  padding: 0;
  position: absolute;
  opacity: 0;
}
.name-enter-active {
  padding: 0;
  position: absolute;
  opacity: 1;
  transition: opacity 400ms linear;
}
.name-exit {
  padding: 0;
  position: absolute;
  opacity: 1;
}
.name-exit-active {
  padding: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 400ms;
}





/* ====================================================== */
/* ====================================================== */

/*                        NAMEQ                            */

/* ====================================================== */
/* ====================================================== */

.validation-warning {
  color: rgb(221, 70, 70);
}

.alert_green {
  color: rgb(33, 223, 150)
}






/* ====================================================== */
/* ====================================================== */

/*                        SLIDER                          */

/* ====================================================== */
/* ====================================================== */


.slider-house {
  display: inline-flex;
  align-items: center;
  margin: 0 0 .65rem 0;
  height: 1rem;
  width: 300px;
  position: relative;
}

.shade {
  height: .3rem;
  width: 100%;
  background-color: #12121d;
  border-radius: .5rem;
  position: absolute;
  z-index: 1;
}

.slider {
  height: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.slider-bar {
  /* width: 49%; */
  background-color: rgb(68, 118, 211);
  box-shadow: 0 0 3px 0 rgb(64, 179, 255);
  height: .3rem;
  border-radius: .5rem 0 0 .5rem;
}

.slider-ball {
  width: 6px;
  height: 1rem;
  border-radius: 30%;
  background-color: rgb(68, 118, 211);
  box-shadow: 0 0 3px 0 rgb(64, 179, 255);    
}

.intimacyQ span {
  font-size: 20px;
  color: rgb(14, 184, 127);
}

.intimacyQ > span {
  margin: 20px;
}







/* ====================================================== */
/* ====================================================== */

/*               AS COMMON AS I CAN MAKE                  */

/* ====================================================== */
/* ====================================================== */


label {
  font-size: 20px;
}

button {
  font-size: 25px;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

.all_margin {
  margin: 30px
}

.center {
  text-align: center;
}

.box-paragraph {
  text-align: justify;
}

button[disabled] {
  background: #d3f8ff;
  color: #adadad;
}

.remove {
  color: red
}



















/* ====================================================== */
/* ====================================================== */

/*                     LANDING PAGE                       */

/* ====================================================== */
/* ====================================================== */

.landing .option-box {
  border: 3px solid rgb(180, 114, 255);
  border-radius: 10px;
  margin-top: 40px;
  padding: 20px;
  padding-top: 35px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .landing .box-wrapper {
    justify-content: space-around;
  }

  .landing .option-box {
    width: 20%;
  }
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.landing button {
  width: 100%;
  margin: 0;
  margin-top: 30px;
}

.landing h3 {
  font-size: 30px;
  margin-top: 0;
}

.landing p {
  margin-bottom: 0;
}

.hello button {
  width: 100%;
  margin-left: 0;
}