/* ====================================================== */
/* ====================================================== */

/*               AS COMMON AS I CAN MAKE                  */

/* ====================================================== */
/* ====================================================== */


.validation-warning {
    color: rgb(221, 70, 70);
    position: absolute;
}

.alert_green {
    color: rgb(33, 223, 150)
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    background: #22deff;
    color: #1f1f1f;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    transition: background 100ms ease-in-out, 
                color 50ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
button:hover,
button:focus {
    background: #7fecff;
    color: #3f3e3e;
}

button:focus {
    outline: #1c8da1 auto 2px;
}

button:active {
    transform: scale(0.99);
}

button[disabled] {
    background: #d3f8ff;
    color: #adadad;
}

a {
    outline: none;
}

label {
    font-size: 20px;
}

button {
    font-size: 25px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 35px;
}




.title {
    font-size: 45px;
}

.small-title {
    font-size: 35px;
}

.subtitle {
    margin-top: -20px;
    margin-bottom: 40px;
    font-size: 25px;
}

.bigger-subtitle {
    font-size: 30px;
}



/* input number remove arrows: Chrome, Safari, Edge, Opera */
#address_cep::-webkit-outer-spin-button,
#address_cep::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#address_cep[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 768px) {
    .hello-buttons {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        button {
            max-width:300px;
            margin: 50px;
        }
    }
}

input[type="text"], input[type="number"], textarea, input[type="date"] {
    font-size: 32px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(249, 255, 253);
    border: 5px solid rgb(111, 226, 182);
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    font-size: 25px;
    height: 500px;
}

input[type="text"], textarea {
    width: 100%;
}

input[type="date"] {
    font-size: 25px
}

input[type="text"]:hover,
input[type="text"]:focus, 
input[type="text"]:active,
input[type="number"]:hover,
input[type="number"]:focus, 
input[type="number"]:active,
input[type="date"]:hover,
input[type="date"]:focus, 
input[type="date"]:active,
textarea:hover,
textarea:focus, 
textarea:active {
    outline: none;
    box-shadow: 0 0 0 3px rgb(83, 199, 154);
}

.prev-for {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.prev-for button {
    padding: 20px;
    font-size: 30px;
}

.prev-for.small-top {
    margin-top: 15px;
}

.small-radio {
    span.checkmark {
        left: -10px;
        height: 32px;
        width: 32px;
    }
    span.checkmark::after {
        top: 7px;
        left: 7px;
        width: 18px;
        height: 18px;
    }
}

@media only screen and (min-width: 768px) {
    .all-margin {
        .all-center {
            min-height: calc(100vh - 60px);
            width: calc(100vw - 60px);
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                max-width: 800px;
        }

        .options-center {
            text-align: center;
        }
        .radios-center {
            width: min-content;
            margin-left: auto;
            margin-right: auto;
        }
        
        }  
    } 
    .go-down {
        margin-top: 70px;
    }
}





.radio-option.big-words {
    font-size: 25px;
}


/* Customize the label (the container) */
.radio-option {

    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 40px;    

    @media screen and (min-width: 768px) {
        width: min-content;
        white-space: nowrap;
        &.long-option {
            width: 100%;
            white-space: unset;
        }
    }

    
    /* Hide the browser's default radio button */
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* On mouse-over, add a grey background color */
    :hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    input:checked ~ .checkmark {
        background-color: rgb(67, 202, 150);
    }

    /* Show the indicator (dot/circle) when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the indicator (dot/circle) */
    .checkmark:after {
        top: 11px;
        left: 11px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: white;
        @media screen and (min-width: 768px) {
            top: 7px;
            left: 7px;
            width: 18px;
            height: 18px;
        }
    }

    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -20px;
        height: 45px;
        width: 45px;
        background-color: #eee;
        border-radius: 50%;
        border: rgb(197, 218, 201) solid 2px;
        transition: background-color 100ms ease-in-out;

        @media screen and (min-width: 768px) {
            left: -7px;
            height: 32px;
            width: 32px;
        }
    }
    
    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

}

.small-radio {
    span.checkmark {
        left: -10px;
        height: 32px;
        width: 32px;
    }
    span.checkmark::after {
        top: 7px;
        left: 7px;
        width: 18px;
        height: 18px;
    }
}









.all-margin {
    margin: 30px
}

.center {
    text-align: center;
}

.box-paragraph {
    text-align: justify;
}

.go-down {
    margin-top: 100px;
}

.go-bit-down {
    margin-top: 80px;
    &.when-mobile {
        @media screen and (min-width: 768px) {
            margin-top: 50px;
        }
    }
}

.bit-down {
    margin-top: 40px;
}

.only-wide.bit-down {
    @media screen and (min-width: 768px) {
        margin-top: 20px;
    }
}

.d-block {
    display: block;
}

.p-absolute {
    position: absolute;
}

.top-left {
    margin-top: -10px;
    margin-left: 50px;
}

.no-space-down {
    margin-bottom: 0;
}

.small-space-top {
    margin-top: 20px !important;
}

.small-space-down {
    margin-bottom: 20px !important;
}

.space-up-down {
    margin-top: 40px;
    margin-bottom: 40px;
}

.no-space-top {
    margin-top: 0px !important;
}

.d-block {
    display: block;
}

.width-280 {
    width: 280px;
}

.space-right {
    margin-right: 20px;
}

.remove {
    color: red
}

.flex-between-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .absolute-center {
        left: 50%;
        transform: translate(-50%);
        margin-left: 0;
        margin-right: 0;
    }
}

.valueq-flex {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    @media screen and (min-width: 768px) {
        align-items: center;
        justify-content: space-between;
        width: 85%;
        flex-direction: row;
    }
    
    &.timeq {
        @media screen and (min-width: 768px) {
            width: 60%;
        }
        p {
            @media screen and (max-width: 768px) {
                margin-top: 20px !important;
                font-size: 40px;
            }
        }
    }
    
    p {
        @media screen and (min-width: 768px) {
            font-size: 30px;
        }
    }
}

#adress_adress {
    height: 200px;
    font-size: 25px;
    @media screen and (min-width: 768px) {
        height: 100px;
    }
}