.ending-data {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .ending-q {
        width: 50%;
    }
    .ending-a {
        width: 40%;
    }
}